#header {
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    width: 100%;
    top:0;
    padding: 10px;
    justify-content: space-between;
    background-color: maroon;
}
#searchInput{
    width:30rem;
    padding: 10px;
    align-self: center;
}

#hidden-section{
    align-self: flex-end;
    display: flex;
    padding: 10px;
    width: 30%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 18px;
    color: #ece7e7;
    font-weight: bold;
}

#hideTicketsCounter{
    order :1;
    color: #ece7e7;
    
}

#restoreHideTickets{
    order: 2;
    cursor: pointer;
    color: #ece7e7;
}

#restoreHideTickets:hover{
    cursor: pointer;
    color: #ece7e7;
}

#ticket-section{
    margin-top: 140px;
    top:100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ticket {
    flex-flow: row wrap;
    margin: 50px;
    border: mediumvioletred solid 2px;
    padding: 20px;
    width: 500px;
    min-height: 300px;

    
}
.show-more{
    color: darkblue;
    
}

.show-more:hover{
    text-decoration: underline;
    cursor: pointer;
    color: darkblue;

}